@model ApplicationUser

<style>
    .bg-top {
        padding-top: 20px;
        padding-bottom: 20px;
    }

	.config-form {
		margin-bottom: 100px;
	}
</style>
<!-- breadcrumbs area start -->
<div class="breadcrumbs_aree breadcrumbs_bg mb-110" data-bgimg="/client-site/assets/img/others/bg-top.png">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bg-top breadcrumbs_text">
                    <h1>Thông tin</h1>
                    <ul>
                        <li><a asp-action="Index" asp-controller="Home">Trang chủ </a></li>
                        <li> // Thông tin</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="colorlib-contact">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<ul class="list-group">
						<li class="list-group-item"><a asp-action="Profile" asp-controller="Account">Thông tin</a></li>
						<li class="list-group-item"><a asp-action="Update" asp-controller="Account">Cập nhật thông tin</a></li>
						<li class="list-group-item"><a asp-action="ChangePass" asp-controller="Account">Đổi mật khẩu</a></li>
						<li class="list-group-item"><a asp-action="Logout" asp-controller="Account">Đăng xuất</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-8">

				<div class="contact-wrap config-form">
                    <form method="post">
                        <div class="login-form">
							<h3>Thông tin</h3>
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <label>Họ*</label>
									<input type="text" asp-for="FirstName" readonly class="form-control" placeholder="Họ">
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="col-md-6 col-12">
                                    <label>Tên*</label>
									<input type="text" asp-for="LastName" readonly class="form-control" placeholder="Tên">
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                                <div class="col-md-12">
                                    <label>Tài khoản*</label>
                                    <input type="text" asp-for="UserName" readonly class="form-control" placeholder="Tài khoản">
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                                <div class="col-md-12">
                                    <label>Email*</label>
									<input type="email" asp-for="Email" readonly class="form-control" placeholder="Email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>

                                <div class="col-md-12">
                                    <label>Số điện thoại</label>
									<input type="text" asp-for="PhoneNumber" readonly class="form-control" placeholder="Số điện thoại">
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>      
                                <div class="col-md-12">
                                    <label>Đại chỉ</label>
									<input type="text" asp-for="Address" readonly class="form-control" placeholder="Địa chỉ">
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </form>
				</div>
			</div>
		</div>
	</div>
</div>
