@using WebQuanAn.Utility.Helpers;
@model List<Product>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="total-item col-lg-4 col-md-4 col-sm-6"> 
            <div class="product_thumb">
                @if (item.ProductImages != null && item.ProductImages.Count() > 0)
                {
                    <a asp-action="Details" asp-controller="Product" asp-route-productId="@item.Id"><img src="@item.ProductImages.FirstOrDefault().ImageUrl" class="card-img-top rounded" style="width:100px height:100px" /></a>
                }
                else
                {
                    <img src="https://placehold.co/500x600/png" class="card-img-top rounded" />
                }
                <div class="action_links">
                    <ul class="d-flex justify-content-center">
                        <li class="add_to_cart">
                            <a href="cart.html"
                                title="Thêm vào giỏ hàng">
                                <span class="pe-7s-shopbag"></span>
                            </a>
                        </li>
                        <li class="wishlist">
                            <a href="#"
                                title="Yêu thích">
                                <span class="pe-7s-like"></span>
                            </a>
                        </li>
                        <li class="quick_button">
                            <a href="#" title="Quick View"
                                data-bs-toggle="modal"
                                data-bs-target="#modal_box">
                                <span class="pe-7s-look"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <figcaption class="product_content text-center">
                <h4>@item.Name</h4>
                <div class="price_box">
                    <span class="current_price">@item.Price.ToVnd()</span>
                </div>
            </figcaption>
        </div>
    }
</div>

